In [1]:
import os
import sys

import pandas as pd
pd.options.display.max_columns = 999
import sqlalchemy as sqla
from sqlalchemy import create_engine

DB_URI = os.getenv('CD_DWH')
engine = create_engine(DB_URI)

In [2]:
QUERY = """
select
    distinct regexp_replace(lower(recipient_candidate_name), '[^a-z ]', '', 'g') as clean_name
from trg_analytics.candidate_contributions
"""
with engine.begin() as conn:
    results = pd.read_sql(QUERY, conn)

results.head(100)

              clean_name
0                   None
1              west tony
2          krouse thomas
3              smith mel
4           denney ralph
5         perez v manuel
6        pacheco gayle e
7         smith robert w
8         leyva connie m
9            brough bill
10       firebaugh marco
11           eng michael
12          murray kevin
13        quinones pearl
14       gallegos martin
15        miller david d
16            kramer dan
17           choi steven
18       carcione john p
19          reilly emily
20            mann chris
21          nickel wiley
22        young steven r
23         barton john h
24    pullenmiles robert
25         wyland mark b
26        price curren d
27         peterson pete
28        kinney richard
29        hanley kevin j
..                   ...
70    gonzales juan luis
71     schaupp charles e
72             buck jill
73   nickel iii george w
74                le van
75            dutton bob
76        pirozzi elia v
77          holden chris
78          lara ricardo
79          mastin james
80         salas jr rudy
81          marquez luis
82  roditis konstantinos
83     caserta dominic j
84         do cong thanh
85       monteith dick j
86    frazier jr james l
87        parker chris r
88           wicks buffy
89        gardner m dean
90         tran kim ngoc
91           aroner dion
92         loo kenneth j
93          parra pete h
94          kennedy john
95      fernandez joanne
96          mahmood asif
97        taylor zachary
98       bradford steven
99     pfeiler lori holt

[100 rows x 1 columns]

In [ ]:
from fuzzywuzzy import fuzz

size = len(results["clean_name"])

for i in range(size):
    name = results["clean_name"][i]
    for j in range(i + 1, size):
        test = results["clean_name"][j]
        fuz = fuzz.ratio(name, test)
        if fuz >= 85:
            print("{}% Similar {} to {} at {}, {}", fuz, name, test, i, j)